td[colspan="100"] {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
  text-align: left;
  width: 100%;
  border-bottom: 2px solid #000;
}

td[colspan="200"] {
  text-align: left;
  width: 100%;
  background-color: #fff;
}
