* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
